.admin-user {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    gap: 15px;
    align-items: center;

    padding: 15px;
    margin-bottom: 10px;

    border: 1px solid #e2e8f0;
    border-radius: 9px;
}

.admin-user h3 {
    margin: 0;
}

.admin-user p {
    margin: 5px 0;
    color: #64748b;
}

.admin-actions {
    display: flex;
    gap: 7px;
}

@media (max-width: 800px) {

    .admin-user {
        display: block;
    }

    .admin-actions {
        margin-top: 10px;
    }
}