.cart-page{
padding:30px;
}

.cart-layout{
display:grid;
grid-template-columns:2fr 1fr;
gap:25px;
}


.cart-items{
display:flex;
flex-direction:column;
gap:15px;
}


.cart-item{
background:white;
padding:15px;
border-radius:12px;
display:flex;
align-items:center;
gap:20px;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}


.cart-item img{
width:120px;
height:100px;
object-fit:cover;
border-radius:10px;
}


.cart-info{
flex:1;
}


.quantity{
display:flex;
align-items:center;
gap:10px;
margin-top:10px;
}


.quantity button{
width:30px;
height:30px;
border:none;
background:#38BDF8;
color:white;
border-radius:5px;
}


.remove-btn{
background:#EF4444;
color:white;
border:none;
padding:8px 12px;
border-radius:8px;
}

.cart-summary{
background:white;
padding:25px;
border-radius:15px;
height:max-content;
box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.cart-summary button{
width:100%;
margin-top:15px;
padding:14px;
border:none;
border-radius:10px;
background: skyblue;
color:white;
font-weight:bold;
}

.empty-btn{
background:#EF4444!important;
}

.cart-price{
font-weight:bold;
color:#0284C7;
}
