/* =========================
   TABLETS
========================= */

@media(max-width:900px){

.menu-toggle{
display:block;
}

.nav-links{
position:absolute;
top:70px;
left:0;
width:100%;
background:#38BDF8;
flex-direction:column;
padding:20px;
display:none;
}

.nav-links.show{
display:flex;
}

.dashboard-container{
flex-direction:column;
}

.sidebar{
width:100%;
}

.stats{
grid-template-columns:repeat(2,1fr);
}

.action-grid{
grid-template-columns:repeat(2,1fr);
}

.product-grid{
grid-template-columns:repeat(2,1fr);
}

.cart-layout,
.checkout-layout,
.details-card{
grid-template-columns:1fr;
}

}

/* =========================
   MOBILE
========================= */

@media(max-width:600px){

.stats,
.action-grid,
.product-grid{
grid-template-columns:1fr;
}

.dashboard-content,
.products-container,
.cart-page,
.checkout-page,
.product-details{
padding:15px;
}

.filter-box{
flex-direction:column;
}

.cart-item{
flex-direction:column;
text-align:center;
}

.product-buttons{
flex-direction:column;
}

}
